@import '../../../styles/variables';

.container {
  color: $primary;
  font-size: 20px;
  margin-bottom: 5px;
  overflow: hidden;
}

.label {
  display: inline-block;
  font-size: 10px;
  color: $secondary;
  line-height: 21px;
  margin-right: 5px;
  min-height: 21px;
  vertical-align: top;
  width: 60px;
}

.value {
  display: block;
  font-size: 15px;
  line-height: 21px;
  padding-left: 60px;
}

.input {
  background: $tertiary;
  border: none;
  color: $primary;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  margin-top: 4px;
  padding: 0 10px;
  width: calc(100% - 85px);
}
