@import '../../../../styles/variables';

.filter {
  display: inline-block;
  position: relative;

  &.active {
    .iconMenu {
      .icon {
        color: $active-color;
      }
    }
  }

  .iconMenu {
    .icon {
      color: $disabled-color;
    }
  }
}

.menuDivider {
  border: none
}
