.container {
  display: flex;
}

.left-block {
  margin-right: 60px;
  width: calc(50% - 60px);
}

.right-block {
  width: 50%;
}

.dropdown {
  float: left;
}

.dropdown-label {
  display: inline-block;
  float: left;
  line-height: 65px;
}
