@import 'styles/variables';

.menu-list {
  line-height: 80px;
  margin: 0;
  padding: 0;
  width: 325px;
  overflow: hidden;
}

.list-item {
  display: inline-block;
  float: left;
}

.user-container {
  float: right;
  padding-top: 20px;
}

.user-avatar {
  float: left;
}

.user-name {
  color: $light;
  margin-left: 10px;
  padding-top: 10px;
  font-size: 14px;
  float: left;
}

.link-item {
  color: $light;
  padding: 30px 13px;

  &:hover {
   background-color: $primary-selected;
  }
  &:visited {
    background-color: $primary-selected;
  }
}

.active-link {
  background-color: $primary-selected;
}
