@import '../../../styles/variables';
@import '../../../styles/input-props';

.container {
  display: block;
  margin-bottom: 25px;
  width: 300px;
}

.holder {
  margin-bottom: 22px;
}

.submitButton {
  float: right;
}

.forgotLink {
  float: right;
  font-size: 15px;
}
