@import 'styles/variables';

.filters-container {
  float: left;
}

.filters-section {
  clear: both;
}

.grid {
  padding-top: 25px;
  clear: both;
}

.rightControls {
  float: right;
}

.renew-icon {
  color: rgb(0, 145, 234);
}

.title {
  float: left;
  margin-top: 10px;
}

.add-organization {
  float: right;
}

.disabled-organization {
  color: $disabled;
}
