@import 'styles/variables';
@import 'styles/common';
@import 'styles/input-props';

.text {
  font-size: 16px;
}

.title {
  margin-bottom: 20px;
}

.dialog {
  width: 85vw;
}

.body {
  padding-bottom: 0;
  overflow-y: auto;
}

.dialog .navigation .button {
  color: $successPass;
  font-size: 15px;
  font-weight: 700;
  height: auto;
  line-height: 1.2;
  padding: 10px;
}

.comment-block {
  color: $comment-color;
}

.input {
  margin: 0;
}

.radio-checked::before {
  background: $successPass;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 12px;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  position: absolute;
  width: 12px;
}

.radio {
  background: $light;
  border: 2px solid $checkbox-border;
  border-radius: 50%;
  height: 18px;
  margin-right: 10px;
  position: relative;
  width: 18px;
}

.radio-checked {
  border: 2px solid $successPass;
  height: 18px;
  margin-right: 10px;
  width: 18px;
}

.label-class-name {
  color: $settings-color;
}
