/* Common */
$primary: #2580d6;
$primary-selected: #0e70cc;
$secondary: #747474;
$error: #cd2127;
$success: #00C853;
$warning: #ff3d00;
$disabled: #d6d6d6;


$text-primary: #444444;
$text-secondary: #455a64;
$text-tertiary: #78909c;
$text-disabled: #f8f8f8;

$tertiary: #aaaaaa;
$main-font-color: #949494;
$button-border: #09c;
$arrow-border: #ccc;
$light: #fff;
$border-separator: #b4b4b4;
$background-bar: #3A97B5;
$secondary-light: #ebeced;
$secondary-font-color: #777;
$shadow: #888;
$strong: #474747;

$solitude: #E4F2FF;
