@import './variables';

.hide {
  display: none;
}

.title {
  color: $title-color;
  display: block;
  margin-bottom: 18px;
  font-size: 16px;

  button {
    margin-left: 7px;
  }
}

.pull-right {
  margin-left: auto;
}

.pull-right {
  margin-left: auto;
}

.contentWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: $page-header-height;
  padding: 0 ($inner-page-padding - 5) 0 ($inner-page-padding + 3);
  border-bottom: 1px solid $header-border-color;
}

.section {
  margin-bottom: 28px;
}

.clickable {
  cursor: pointer;
}

.error {
  color: $error-color;
}

.fullWidth {
  padding: 0 $inner-page-padding;
  margin-left: (-$inner-page-padding);
  margin-right: (-$inner-page-padding);
}
