@import '../../../../styles/variables';

.container {
  border-bottom: 1px solid $arrow-border;
  border-top: 1px solid $arrow-border;
  font-size: 20px;
  line-height: 50px;
  padding: 0 0;
  position: relative;
}

.link {
  display: block;
  line-height: 50px;
}

.arrow {
  background-image: url(images/BL_Sprite_common.svg);
  background-position: -396px -64px;
  display: block;
  height: 26px;
  margin: 13px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 26px;
}
